.site-footer {
    float: left;
    width: 100%;
    position: relative;
    padding: 6rem 2rem 4rem;
    background: darken($color-bg-dark, 10%);
    
    z-index: 1;
    opacity: 1;
    transition: all 1.2s $cubic;
    
    ul {
        padding: 0 0 0 ;
        margin: 0;
        li {
            position: relative;
            float: left;
            width: 100%;
            list-style-type: none;
            margin-bottom: 1rem;
            padding: 0 0 0 1.5rem;
            &:before {
            	position: absolute;
            	left: 0;
            	top: 50%;
            	transform: translate3d(0,-50%,0);
            	height: 1px;
            	width: 0.6rem;
            	content: '';
            	display: block;
            	background: #fff;

            }
        }
    }
}
