.site-footer {
    float: left;
    width: 100%;
    position: relative;
    padding: 6rem 2rem 4rem;
    background: darken($color-bg-dark, 2%);
    z-index: 1;
    opacity: 1;
    transition: all 1.2s $cubic;
    .contacts {
        float: left;
        width: 100%;
        ul {
            padding: 0 0 0;
            margin: 0;
            li {
                position: relative;
                float: left;
                width: 100%;
                list-style-type: none;
                margin-bottom: 1rem;
                a {
                    float: left;
                    width: 100%;
                    position: relative;
                    display: block;
                    padding: 0 0 0 1.5rem;
                    color: $color-text-light;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                    &:before {
                        position: absolute;
                        left: 0;
                        top: 50%;
                        transform: translate3d(0, -50%, 0);
                        height: 1px;
                        width: 0.6rem;
                        content: '';
                        display: block;
                        background: #fff;
                        transition: all 0.6s $cubic;
                    }
                    &:hover {
                        color: $color-accent;
                        &:before {
                            background: $color-accent;
                            width: 1rem;
                        }
                    }
                }
            }
        }
        @include media-breakpoint-down(sm) {
            margin-top: 3rem;
        }
    }
}
