<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="title">gergely strommer / stromi</h2>
                <p>
                    {{ site.description }}
                </p>
            </div>
            <div class="col-md-4">
                <div class="contacts">
                    <h2 class="title">Contact me</h2>
                    <ul>
                        <li>
                            <a href="mailto:stromi@stromi.net">stromi@stromi.net</a>
                        </li>
                        <li>
                            <a href="tel:+36705753733">+36 70 575 37 33</a>
                        </li>
                        <li>
                            <a href="skype:stromi.net?call">skype: stromi.net</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
