<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="title">gergely strommer / stromi</h2>
                <p>
                    {{ site.description }}
                </p>
            </div>
            <div class="col-md-4">
                <h2 class="title">Contact me</h2>
                <ul>
                    <li>stromi@stromi.net</li>
                    <li>+36 70 575 37 33</li>
                    <li>skype: stromi.net</li>
                </ul>
            </div>
        </div>
    </div>
</footer>
